/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@media  (min-width: 1000px) { 
    .character-card-container{
        margin-left: 10%;
        margin-right: 10%;
    }
}

.avatar{
    background-size: cover;
}

.card{
    margin-bottom: 5px;
}

.characterLink{
    text-decoration: none;
    color: inherit;
}
